name: Reproducible build
on:
  release:
    types:
      - created

# Declare default permissions as read only.
permissions: read-all

jobs:
  build:
    runs-on: ubuntu-24.04
    container:
      image: eclipse-temurin@sha256:3c76cd069517718b1952eb69678014d6b752502c9fa83409e31c34309ec309d5 # eclipse-temurin:17-jdk

    steps:
      - name: Install packages
        run: |
          apt-get update -y && apt-get install -y git curl gnupg

      - name: Checkout
        uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 #v4.2.1

      - name: Set version
        id: vars
        run: echo ::set-output name=tag::${GITHUB_REF#refs/*/}

      - name: Download Release key
        run: |
          gpg --keyserver https://secchannel.rsk.co/SUPPORT.asc --recv-keys 1DC9157991323D23FD37BAA7A6DBEAC640C5A14B

      - name: Verify files integrity
        run: |
          gpg --verify --output SHA256SUMS SHA256SUMS.asc && sha256sum --check SHA256SUMS

      - name: Build powpeg-node
        run: |
          ./configure.sh && ./gradlew --no-daemon clean build -x test

      - name: Calculate hashes
        working-directory: build/libs
        run: |
          sha256sum * > SHA256SUMS

      - name: Print hashes
        run: |
          cat build/libs/SHA256SUMS

      - name: Export artifacts
        uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 #v4.4.3
        with:
          name: ${{ steps.vars.outputs.tag }}
          path: build/libs/
